@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200&display=swap');

:root {
    /* PRIMARY COLORS */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow-deep: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --blue-accent: #3dbeff;
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    /* NEUTRAL */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;    
    /* font-family: 'Fraunces', serif; */
}

html{
    font-size:62.5%;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.6;
}
.row{
    max-width: 144rem;
    margin: 0 auto;
}
.header{
background-image: url(../images/desktop/image-header.jpg);
background-size: cover;
background-position: center;
height:100vh;
position: relative;
}

.header__arrow{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.nav{
    padding-top: 3rem;
    margin: 0 3rem;
}
.nav_flex{
    display: flex;
    align-items: center;
}

.nav_logo{
margin-right: auto;
}
.nav_list{
    list-style: none;
}
.nav_item{
    display: inline-block;
    padding:0 2rem;
}

.nav_link{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.btn{
    border: none;
    outline: none;
    border-radius:none;
    cursor: pointer;
    background: transparent;
}

.btn__white{
    padding:1.5rem 2.5rem;
    background-color: #fff;
    color: black;
    border-radius:10rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.heading-primary{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color:white;
}

.section-about__flex{
    display: flex;
}

.section-about__content{
    padding:0 10vw;
    align-self: center;
    flex: 0 0 50%;
}

.section-about__content--text{
    margin: 2rem 0 2rem 0;
}

.section-about__image--photo{
    width: 100%;
    display: block;
}
.heading-secondary{
    font-size:3rem;
    font-weight:900;
    line-height: 1;
    color: #23303e;
}

.paragraph{
    font-size:1.5rem;
    font-family: 'Fraunces', sans-serif;
}

.btn__black{
    text-transform: uppercase;
    font-family: 'Fraunces', sans-serif;
    font-weight:900;
    font-size: 1.4rem;
    padding: 0;
}

.btn__black--1{
    border-bottom: 3px solid #fad400;
}

.btn__black--2{
    border-bottom: 3px solid #fe7867;
    align-self: flex-start;
}

.section-services__flex{
display: flex;
}

.section-services__image{
    flex: 0 0 50%;
}

.section-services__image--photo{
    flex: 0 0 50%;
    width: 100%;
    display: block;
}

.section-services__content{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
}

.section-services__content--text{
    margin: 2rem 0;
}